{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
  {{ include('_flashes.html.twig') }}
  {% if app.user %}
    <div class="mb-3">
      You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
  {% else %}
  {% if error %}
    <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
  {% endif %}
  <form action="{{ path('login') }}" method="post">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" required autofocus>
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password" name="_password" autocomplete="current-password" required>
    </div>
    <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
    {#
    Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
    See https://symfony.com/doc/current/security/remember_me.html

    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="rememberMe" name="_remember_me">
      <label class="form-check-label" for="rememberMe">Remember me</label>
    </div>
    #}
    <input type="hidden" name="_target_path" value="/admin">
    <button type="submit" class="btn btn-primary">Login</button>
  </form>
  {% endif %}
{% endblock %}

{% block sidebar %}{% endblock %}
